#top_nav nav .user .avatar .passepartout
{
	background: white;
	padding: 10%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	margin-top: -25%;
}

#top_nav nav .user .avatar img
{
	display: block;
	width: 100%;
}


