.commodity_view
{
	background: rgba(255, 255, 255, 0.85);
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
}

.commodity_view h1
{
	font-family: "Crimson Text";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 40px;
	border-bottom: 1px dotted #dcdcdc;
}

.commodity_view h1:first-letter
{
	font-size: 50px;
}

.commodity_view .head .short_description
{
	float: left;
	width: 500px;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.commodity_view .head .image
{
	float: left;
}

.commodity_view .head .image img
{
	border: 1px solid #efefef;
}

.commodity_view .edit_field
{
	display: none;
}


