
.commodity_view h1 .store_group
{
	font-size: 30px;
	color: #bababa;
	padding-left: 25px;
}


.commodity_view .head .short_description
{
}


.commodity_view .Picture img
{
	width: 100%;
}

.commodity_view .edit_field
{
	display: none;
}

.commodity_view .short_description .edit_control
{
	cursor: pointer;
	color: #4b5d80;
	text-decoration: underline;
}



