.recipe_list.standard
{
	padding: 0;
	margin: 0;
}
.recipe_list.standard li
{
	display: block;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 1px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	float: left;
	cursor: pointer;
}

.recipe_list.standard li .spacer
{
	padding: 1px;
}


.recipe_list.standard li a
{
	display: block;
}

.recipe_list.standard li img
{
	width: 100%;
}

.recipe_list.standard li a
{
	color: #323232;
	text-decoration: none;
}

.recipe_list.standard li .text
{
	padding: 5%;
	height: 100px;
}

.recipe_list.standard li .ingredients
{
	color: #ababab;
	font-size: 12px;
}

/*
.recipe_list.vertical_minimized
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.recipe_list.vertical_minimized li
{
	display: block;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 250px;
	padding: 2px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 3 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.recipe_list.vertical_minimized li a
{
	text-decoration: none;
	color: #323232;
	font-weight: bold;
}

.recipe_list.vertical_minimized li .ingredients
{
	color: #ababab;
}

.recipe_list.vertical_minimized li .picture
{
	overflow: hidden;
	position: static;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

}

.recipe_list.vertical_minimized li .picture img
{
	margin-top: -30px;
	margin-bottom: -30px;
	-webkit-filter: saturate(50%);
	opacity: 0.75;
}

.recipe_list.vertical_minimized li:hover .picture img
{
	-webkit-filter: saturate(100%);
	opacity: 1;
	margin-top: 0;
	margin-bottom: 0;
}


*/
