.recipe_full:not(.create) .edit_field
{
	display: none;
}

.recipe_full header .title input[type="text"]
{
	font-size: 2em;
	padding: 2px;
	background: #fffbda;
}

.recipe_full header .title input[type="submit"]
{
	float: right;
}


.recipe_full header .background_control
{
	float: right;
	position: relative;
	bottom: 10px;
}

.recipe_full .title .vary_control, .recipe_full .title .correct_control
{
	float: right;
	margin-left: 10px;
}

.recipe_full header .image img
{
	width: 100%;
}

.recipe_full .guide
{
	background: rgba(255, 255, 255, 0.7);
	border-top: none;
	font-size: 16px;
}

.recipe_full .panel
{
}

.recipe_full .ingredients
{
	<?php echo page_css::background('#f8f2d6', '#f9edc9'); ?>
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	border-radius: 3px;
	margin-bottom: 20px;
}

.recipe_full .equipment
{
	padding: 5px;
	margin-left: 10px;
	<?php echo page_css::background('#f2f2f2', '#fafafa'); ?>
	border-radius: 2px;
}

.recipe_full .ingredients ul
{
	list-style-type: none;
	padding: 0px;
}

.recipe_full .edit_field input[name="amounts[]"]
{
	width: 50px;
}
.recipe_full .edit_field input[name="commodities[]"]
{
	width: 150px;
}

.recipe_full .preparation_steps
{
	font-size: 30px;
}

.recipe_full .preparation_steps li
{
	padding-top: 0;
	margin-bottom: 20px;
}

.recipe_full .preparation_steps div
{
	padding-top: 0;
	font-size: 14px;
}


.recipe_full .preparation_steps textarea
{
	width: 355px;
	height: 75px;
}

.recipe_full .preparation_steps li.edit_field:last-child
{
	color: grey;
}

.recipe_full .preparation_steps li.edit_field:last-child textarea
{
	border: 1px solid #cbcbcb;
}

