#top_nav
{
	<?php echo page_css::background('#3b984d', '#1d6a2b'); ?>
	<?php echo page_css::background('#e5efd8', '#edefeb'); ?>
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	height: 60px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);

}

#top_nav, #top_nav a
{
	color: #323232;
}

#top_nav .logo
{
	margin: 0px;
	float: left;
}

#top_nav > nav > ul
{
	margin: 0px;
	padding: 0px;
}


#top_nav > nav > ul > li
{
	display: block;
	float: left;
	margin-left: 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px;
}




