.ShoppingList
{
	padding: 10px;
	width: 750px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	background: #faf8ee;
}

.ShoppingList .add_dialogue textarea
{
	display: block;
	width: 95%;
	margin: 2.5%;
	height: 100px;
}

.shopping_list_add_item
{
	cursor: pointer;
}




