.user-signin
{
	margin: <?php echo MARG; ?>px;
}

.user-signin form
{
	width: <?php echo (COL5 - MARG * 2 - 1); ?>px;
	padding: <?php echo intval(MARG); ?>px;
	border: 1px solid #ddd;
}

.user-signin label
{
	display: block;
}

.user-signin input[type=text],
.user-signin input[type=password]
{
	width: 100%;
	margin-bottom: 15px;
}

